body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 340px;
}

.wrapper__header, .counter__remain-time, .counter__remain-header {
    text-align: center;
}

.wrapper__header, .counter__remain-header {
    margin-bottom: 10px;
}

.wrapper__button {
    display: block;
    margin: 0 auto;
    background-color: #0b4379;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
}

.title {
    margin: 30px 0 10px;
    text-align: center;
}

.input {
    display: block;
    border-radius: 4px;
    border: 2px solid #0b4379;
    height: 30px;
    font-size: 20px;
    width: 150px;
    padding: 0;
    outline: none;
    margin: 10px auto;
    text-align: center;
}

.sent-btn {
    display: block;
    border-radius: 4px;
    border: 2px solid #0b4379;
    height: 30px;
    font-size: 20px;
    padding: 0;
    outline: none;
    width: 150px;
    box-sizing: content-box;
    margin: 10px auto;
    cursor: pointer;
}

#form {
    width: 200px;
    border: 2px solid white;
    border-radius: 4px;
    margin: 20px auto;
}

.delimiter {
    font-weight: bold;
    visibility: visible;
    animation: delimiter .5s 0s infinite ease;
}

@keyframes delimiter {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
        color: red;
    }
}
